.grid {
  margin-top: 90px;
  padding: 0 30px;
  width: 100%;
  position: relative;
  transform: translate3d(0, 0, 0);
}

.gridHeading {
  margin-bottom: 60px;
}

.gridContainer {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr;
  margin-bottom: 80px;
  width: 100%;
}

.gridItem,
.gridItemCenter {
  background: white;
  box-shadow: 0px 10px 40px 0px rgba(25, 38, 45, 1);
  color: black;
  min-height: 370px;
  opacity: 0.7;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  transition: 0.3s;
}

.gridItemCenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.gridItemImg {
  width: 100%;
}

.gridItemHeading {
  margin: 20px 0 20px;
  padding: 0 20px;
  width: 90%;
}

.gridItemCenter .gridItemHeading {
  margin-top: 0;
}

.gridItemLink {
  color: #ff0078;
  display: inline-block;
  margin-bottom: 30px;
  padding: 0 20px;
}

.gridItemBtn {
  background: #ff0078;
  border: solid 2px #ff0078;
  color: #ffffff;
  padding: 10px 20px 12px;
  transition: 0.3s;
}

.gridItem:hover,
.gridItemCenter:hover {
  opacity: 1;
}

@media (min-width: 769px) {
  .grid {
    margin-top: 120px;
    max-height: none;
  }

  .gridHeading {
    margin-bottom: 80px;
  }

  .gridContainer {
    gap: 80px;
    grid-template-columns: 1fr 1fr;
  }

  .gridItemHeading {
    padding: 0 40px;
    width: 75%;
  }

  .gridItemLink {
    padding: 0 40px;
  }
}
