.stage {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  z-index: 2;
  display: none;
}

.stageSlide {
  width: 100vw;
  height: 50vh;
  opacity: 0.5;
}

.stageSlide:first-child {
  height: 100vh;
}
