.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: -100px auto 0;
  max-width: 1100px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.containerSafari {
  min-height: -webkit-fill-available;
}

@media (min-width: 768px) {
  .container {
    min-height: 100vh;
  }
}

.copy {
  font-size: 20px;
  line-height: 1.75;
  max-width: 900px;
  text-align: left;
}

.copy p {
  margin: 0 0 40px;
}
