.heading {
  color: white;
  font-family: harmondsemibold, serif;
  font-size: 100px;
  line-height: 0.9;
  margin: 0;
  opacity: 1;
}

.heading.headingGlitch {
  opacity: 0.75;
}

.heading:before,
.heading:after {
  content: 'Creative Engineer';
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 2s;
  z-index: -1;
}

.heading:before {
  color: #0201ff;
  left: 49.6%;
  top: 49.6%;
}

.heading:after {
  color: #ff0078;
  left: 50.4%;
  top: 50.4%;
}

.heading.headingGlitch:before,
.heading.headingGlitch:after {
  opacity: 1;
  transition: 0.5s;
}

.heading.headingGlitch:before {
  animation: distort1 0.5s linear infinite;
}

.heading.headingGlitch:after {
  animation: distort2 0.5s linear infinite;
}

@media (min-width: 769px) {
  .heading {
    font-size: 200px;
  }
}

@keyframes distort1 {
  0% {
    top: 49.6%;
    left: 49.6%;
  }
  12.5% {
    top: 49.6%;
    left: 50%;
  }
  25% {
    top: 49.6%;
    left: 50.4%;
  }
  37.5% {
    top: 50%;
    left: 50.4%;
  }
  50% {
    top: 50.4%;
    left: 50.4%;
  }
  62.5% {
    top: 50.4%;
    left: 50%;
  }
  75% {
    top: 50.4%;
    left: 49.6%;
  }
  87.5% {
    top: 50%;
    left: 49.6%;
  }
  100% {
    top: 49.6%;
    left: 49.6%;
  }
}

@keyframes distort2 {
  0% {
    top: 50.4%;
    left: 50.4%;
  }
  12.5% {
    top: 50%;
    left: 50.4%;
  }
  25% {
    top: 49.6%;
    left: 50.4%;
  }
  37.5% {
    top: 49.6%;
    left: 50%;
  }
  50% {
    top: 49.6%;
    left: 49.6%;
  }
  62.5% {
    top: 50%;
    left: 49.6%;
  }
  75% {
    top: 50.4%;
    left: 49.6%;
  }
  87.5% {
    top: 50.4%;
    left: 50%;
  }
  100% {
    top: 50.4%;
    left: 50.4%;
  }
}
