.audioBtn {
  position: absolute;
  top: 25px;
  right: -10px;
  z-index: 3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.audioBtnBtn {
  background: none;
  border: none;
  color: white;
  font-size: 27px;
  cursor: pointer;
  transition: 0.5s;
}

.audioBtnLabel {
  font-size: 14px;
  margin: 0 -10px 0 0;
  transform: translateY(-5px);
  opacity: 0;
}

@media (min-width: 769px) {
  .audioBtn {
    top: 40px;
    right: 25px;
  }

  .audioBtnLabel {
    margin: 0 10px 0 0;
  }
}
