.nav {
  align-items: center;
  display: flex;
  font-size: 40px;
  height: 100px;
  padding: 0 20px;
  position: relative;
  z-index: 3;
}

.navLogo {
  cursor: pointer;
  width: 20px;
}

.navList {
  display: none;
  margin: 0 0 0 auto;
}

.navList {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100vw;
}

.navListSafari {
  min-height: -webkit-fill-available;
}

.navItem {
  display: block;
  padding: 20px 0;
}

.navLink {
  color: white;
  opacity: 0.9;
  padding-bottom: 3px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
  display: block;
  position: relative;
}

.navLinkActive {
  opacity: 1;
}

.navHamburger {
  margin: -5px 0 0 auto;
  width: 30px;
}

.navBar1,
.navBar2,
.navBar3 {
  transition: 0.3s;
}

.navBar1 {
  transform-origin: -5px 6px;
}

.navBar3 {
  transform-origin: 0 44px;
}

.navActive {
  z-index: 5;
}

.navActive .navList {
  opacity: 1;
  pointer-events: all;
}

.navActive .navHamburger {
  position: relative;
  z-index: 5;
}

.navActive .navBar2 {
  opacity: 0;
}

.navActive .navBar1 {
  transform: rotate(45deg);
}

.navActive .navBar3 {
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .nav {
    font-size: 22px;
    padding: 0 40px;
  }

  .navLogo {
    width: 30px;
  }

  .navList {
    display: flex;
    flex-direction: row;
    background: none;
    height: auto;
    margin: 0 0 0 auto;
    opacity: 1;
    padding: 0;
    pointer-events: all;
    position: static;
    width: auto;
  }

  .navListSafari {
    min-height: 100vh;
  }

  .navItem {
    margin-left: 50px;
    padding: 0;
  }

  .navLink {
    opacity: 0.7;
  }

  .navLink:after {
    background: white;
    height: 2px;
    content: '';
    width: 0;
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translate(0, 18px);
    transition: 0.75s;
  }

  .navLink:not(.navLinkActive):hover:after {
    width: 100%;
    opacity: 1;
  }

  .navHamburger {
    display: none;
  }
}
