.nav {
  align-items: center;
  display: flex;
  font-size: 22px;
  height: 100px;
  padding: 0 20px;
  position: relative;
  z-index: 3;
}

.navLogo {
  width: 20px;
}

.navList {
  display: none;
  margin: 0 0 0 auto;
}

.navItem {
  display: block;
  margin-left: 40px;
}

.navLink {
  border-bottom: solid 2px black;
  color: white;
  opacity: 0.7;
  padding-bottom: 3px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

.navLink:hover,
.navLinkActive {
  border-color: white;
  opacity: 1;
}

@media (min-width: 768px) {
  .nav {
    padding: 0 40px;
  }

  .navLogo {
    width: 30px;
  }

  .navList {
    display: flex;
    margin: 0 0 0 auto;
  }
}
